%tr
  %td
  %td= loan.account_number
  %td= loan.customer_name
  %td= loan.start_date
  %td= loan.interest_percent
  %td= loan.term
  %td= loan.monthly_payment_amount
  %td= loan.principal_balance
  %td= loan.interest_balance
  %td= loan.fees_balance
  %td= loan.total_balance

